## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
public/.htaccess
public/.htpasswd
ipsmith-core/libs/classes/dbobjects/template.dbo.php
ipsmith-core/libs/config.inc.php
*.tpl.php
ipsmith-core/logs/*.log
